body {
  background-image: url('./images/Clouds.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.main-section {
  margin: auto;
  width: 85%;
}

.weather-icon {
  height: 2em;
  margin-right: 2em;
  vertical-align: middle;
}

.app-component {
  background-color: #ffffff40;
  border-radius: 25px;
  margin: 50px;
  padding: 15px;
}

.current-weather-component {
  width: 40%;
}

.location-search-input {
  text-indent: 2em;
  width: 30%;
}

.location-search-input::placeholder {
  color: #bbbbbb;
}

.location-search-button {
  background-color: #f4f4f4;
  color: #222222;
  font-weight: 600;
  width: 15%;
}

input, button {
  border: 0;
  font-size: 1em;
  height: 2.5em;
  margin: 0 1em 0 1em;
  outline: none;
  padding: 0;
  border-radius: 2.25em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  opacity: .5;
  height: 3em;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.75em;
}

.App-intro {
  border-radius: 50px;
  color: black;
  font-size: large;
  margin: auto;
  width: calc(100% - 100px);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
