body {
  background-image: url('./images/Clouds.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
}

.App-title {
  font-size: 1.6em;
  color: white;
}

.main-section {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5em 30em 25em;
  margin: 1em auto;
  width: 85%;
}

.card-template {
  background-color: #ffffff65;
  border-radius: .5em;
  height: 8em;
  width: 100%;
}

/* WELCOME COMPONENT
.App-header {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.App-header .App-title {
  font-size: 6em;
  padding-top: 12%;
  margin: 0;
  text-align: center;
}

.App-header .App-intro {
  background-color: transparent;
  height: 4em;
  margin: 0 auto;
  width: 65%;
} */


/* SEARCH COMPONENT */
.search-component {
  color: #bbbbbb;
  width: 90%;
}

.location-search-input {
  text-indent: 2em;
  width: 55%;
  vertical-align: middle;
}

.location-search-button {
  background-color: #f4f4f4;
  color: #00000095;
  font-weight: 600;
  width: 25%;
  vertical-align: middle;
}

/* SEVEN HOUR FORECAST */
.seven-hour-component {
  grid-row: 1 / span 2;
  height: calc(100% - 2em);
  width: 90%;
}

.seven-hour-title {
  font-size: 1.75em;
  opacity: .6;
  margin: 0;
  padding: 0;
  color: white;
}

.seven-hour-article {
  border-radius: 1em;
  color: #333;
  height: 93%;
  overflow: scroll;
  padding: 0;
}

.seven-hour-article .card-template {
  width: 99%;
  margin: .25em auto;
}

.seven-hour-article .card-month,
.seven-hour-article p strong {
  display: none;
}

.seven-hour-article .card-hour {
  font-size: 1.25em;
  font-weight: 800;
  margin: .75em;
}

.seven-hour-article .card-temp {
  font-size: 3em;
  margin: .75em 1.5em;
}

.seven-hour-article img {
  height: 6em;
  width: 6em;
}

.seven-hour-article .card-template {
  display: inline-flex;
  justify-content: space-around;
}

.seven-hour-times {
  color: #ffffff95;
  text-decoration: underline;
  margin-top: 0;
}

/* CURRENT WEATHER */
.current-weather-component {
  color: #d1d1d1;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  margin-top: 1em;
  width: 90%;
}

.current-weather-day {
  margin: .5em;
}

.current-weather-city {
  display: flex;
  font-size: 2em;
  justify-content: space-between;
  padding: .25em .75em 0 .75em;
  margin: 0;
}

.current-weather-condition {
  font-size: 1.75em;
  font-weight: 500;
  margin: 0;
}

.current-weather-temp {
  font-size: 3.25em;
  margin: 0;
}

.weather-icon {
  height: 2.5em;
  margin: 0;
  vertical-align: middle;
}

.expected-temps {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%
}

.current-weather-low {
  color: #2867cc;
  font-size: 1.75em;
}

.current-weather-high {
  color: #cc2828;
  font-size: 1.75em;
}

strong {
  display: block;
  font-size: 1.5em;
}

/* TEN DAY FORECAST */
.ten-day-component {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  height: 16em;
  margin-top: 2em;
  width: 95%;
}

.ten-day-header {
  color: #ffffff90;
  line-height: 0;
}

.ten-day-container {
  display: inline-flex;
  justify-content: space-between;
  height: 91%;
  width: 100%;
}

.ten-day-container .card-template {
  /* background-color: #bbbbbb90; */
  border-radius: .75em;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 700;
  height: 90%;
  width: 9.6%;
}

.ten-day-container .card-month,
.ten-day-container .card-hour,
.ten-day-container .card-temp {
  display: none;
}

.ten-day-container .card-day {
  margin: 0;
}

.ten-day-container .card-template img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.day-extremes-high,
.day-extremes-low {
  font-size: 1.25em;
  font-weight: 800;
}

.day-extremes-high,
.day-extremes-low,
.day-extremes-high strong {
  display: inline;
  vertical-align: middle;
}

.day-extremes-high {
  color: #cc2828;
}

.day-extremes-high strong {
  color: #333;
}

.day-extremes-low {
  color: #2867cc;
}

.ten-day-day h3 {
  line-height: 0;
}


.app-component {
  background-color: #00000060;
  border-radius: 25px;
  padding: 1em;
}

input, button {
  border: 0;
  font-size: 1.2em;
  height: 100%;
  margin: 0 1em 0 1em;
  outline: none;
  padding: 0;
  border-radius: 2.25em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: black;
  font-size: large;
  grid-column: 2 / 2;
  grid-row: 1;
  height: 1em;
  margin: 1em;
  opacity: .6;
  padding: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
